%h2 Query Fundamentals
%p
  This site utilizes Elasticsearch. Please see
  != link('https://lucene.apache.org/core/7_4_0/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Overview', 'this link')
  for details about query syntax.

%article
  %h2 Basic search
  %blockquote Carlsen
  %blockquote "FIDE Candidates 2024"

%article
  %h2 Combining Search Terms
  %blockquote "Carlsen" AND "Nakamura"
  %blockquote "Carlsen" AND ("Nakamura" OR "Caruana")

%article
  %h2 Field Search
  %blockquote Event:"FIDE World Blitz"
  %blockquote Event:"FIDE Candidates 2024" AND Gukesh
  %p
    Current list of fields correspond to standard required PGN metadata:
    %ul
      %li
        Event, Site, Date, Round, White, Black, Result
    As well as other metadata found in Caissabase / TWIC records:
    %ul
      %li
        WhiteElo, BlackElo, ECO, EventDate, BlackFideId, BlackTitle, Opening, Variation, WhiteFideId, WhiteTitle

