!!!

%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ charset: "UTF-8" }/
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %title Chess DB

    %link{ href: "css/simple.css", rel: "stylesheet" }/
    %link{ href: "css/custom.css", rel: "stylesheet" }/

    %script{ src: 'js/jquery-3.7.1.min.js' }

  %body{ class: "dark highlight brown", "data-sound-set" => "silent",
         "data-asset-url" => "https://lichess1.org",
         "data-asset-version" => "Z92u7n", "data-theme" => "dark", "data-piece-set" => "cburnett" }
    %header
      %h1
        != link('/', 'Chess DB')
      %p Advanced search for the top chess games in the world

    %main
      != yield

    %footer
      %p
        Chess DB is a free and open source resource; it would not be possible without the following projects:
        %a{ href: 'https://en.wikipedia.org/wiki/Elasticsearch' } Elasticsearch,
        %a{ href: 'http://caissabase.co.uk/' } Caissabase,
        %a{ href: 'https://github.com/lichess-org/pgn-viewer' } Lichess PGN viewer,
        %a{ href: 'https://github.com/mliebelt/pgn-viewer' } pgn-viewer,
        %a{ href: 'https://theweekinchess.com/' } This Week in Chess,
        Ruby, Sinatra, and Simple CSS
